/* inimigo teste */


.inimigo {
    position: absolute;
    width: 100px;
    height: 100px;
    color: white;
    background-color: black;
}

#iniTeste {
    display: none; 
    width: 100px;
    height: 100px;
}


#harley {
    top: 0px;
    background-color: transparent;
    width: 400px;
    height: 400px;
    background: url('midia/inimigos/harley.png') no-repeat;
    background-size: 400px 400px;
    display: none;
}

audio {
    display: none;
    font-size: 30px;
}